node_modules/
.idea/
dist/
yarn-*.log
src/**/*.js
src/**/*.js.map
public/*.bundle.js
public/sw.js
public/precache-*.js
public/**/workbox-*.js
public/*.LICENSE.txt
coverage/
cypress/videos/
cypress/screenshots/
