stages:
- name: deploy-dev
  if: branch != master
- test
- name: deploy-prod
  if: branch = master

jobs:
  include:
  - stage: test
    language: node_js
    node_js: 10
    cache:
      yarn: true
      directories:
      - node_modules
      - ~/.cache
    install:
      yarn install --frozen-lockfile
    script:
    - yarn test-ci
    - yarn webpack-prod
    - yarn serve &
    - yarn cy-run-ci
    addons:
      apt:
        packages:
        - libgconf-2-4apt
      artifacts:
        paths:
        - /home/travis/build/knewjade/fumen-for-mobile-ts/cypress/videos/

  - stage: deploy-dev
    language: node_js
    node_js: 10
    cache:
      yarn: true
      directories:
      - node_modules
      - ~/.cache
    install:
      yarn install --frozen-lockfile
    script:
    - yarn webpack-prod
    before_deploy:
    - touch public/.nojekyll
    - git checkout public/manifest.json
    - sed s/fumen-for-mobile/fumen-for-mobile-dev/ public/manifest.json > public/manifest_copy.json
    - mv -f public/manifest_copy.json public/manifest.json
    - cat public/manifest.json
    deploy:
    - provider: pages
      skip-cleanup: true
      github-token: ${GITHUB_TOKEN}
      keep-history: false
      repo: knewjade/fumen-for-mobile-dev
      local-dir: public/
      target-branch: master
      on:
        all_branches: true

  - stage: deploy-prod
    language: node_js
    node_js: 10
    cache:
      yarn: true
      directories:
      - node_modules
      - ~/.cache
    install:
      yarn install --frozen-lockfile
    script:
    - yarn webpack-prod
    before_deploy:
    - touch public/.nojekyll
    - git checkout public/manifest.json
    deploy:
    - provider: pages
      skip-cleanup: true
      github-token: ${GITHUB_TOKEN}
      keep-history: false
      repo: knewjade/fumen-for-mobile
      local-dir: public/
      target-branch: master
      on:
        branch: master
